.SelectWeather{
    display: flex;
    flex-direction: column;
    z-index: 101;

    select{
        width: 290px;
        height: 42px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 20px;
        border-top-left-radius: 3px;
        margin-bottom: 30px;
        text-align-last: center;
        outline: none;
    }
}
